<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AXYS</title>
    <link rel="shortcut icon" href="/">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- CSS -->
    <link href="css/global.css" type="text/css" rel="stylesheet"/>
    <link href="css/footer.css" type="text/css" rel="stylesheet"/>
    <!-- icons -->
    <link href="static/fontawesome/fontawesome-all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/brandontext/stylesheet.css" type="text/css" charset="utf-8" />
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        <div class="row footer">
              <div class="col-4">
                <p>AXYS is a platform meant for young designers and developers to connect and work on projects to strengthen their specialties and experience. <br>
                  <br>
                  © AXYS </p>
              </div>
              <div class="col-4"></div>
              <div class="col-4">
                <ul class="list">
                  <a class="media" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"style="padding:0px;"></i> </a> <a class="media"href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"style="padding:0px;"></i> </a> <a class="media"href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="padding:0px;"></i> </a>
                </ul>
              </div>
        </div>
    </div>
</body>
</html>