{% extends "app/base.html" %}

{% block content %}
<body>

        <div class="wrapper">

            <!-- Profile Info -->
            <div class="profile-area">

                <!-- Header (Sidebar on desktop) -->

                <header>
                           <h1 class="no-spacer" style="color: #FF6464">Marc Li</h1>
                    <h2 class="no-spacer">Designer - UX/UI</h2><br>
                    <img src="sung-wang-209324-unsplash.jpg" alt="Profile image" /><br> <br><br>

                  <div class="row"><div class="col-4 phonenumber"><i class="fas fa-phone" style="color: #FF6464"></i>

+1 421 636 8794</div> <br>

<div class="col-4 mail"> <i class="fas fa-envelope"style="color: #FF6464"></i>

marcli@gmail.com</div>
<div class="col-4 link"><i class="fas fa-link"style="color: #FF6464"></i>

    https://marc.li.com</div></div> </header>
</div>

            </div>

            <div class="content-wrapper">
                <!-- Main content area -->
                <main>
                    <article>
                        <div style="margin-left: 15px; margin-right: 15px">
                        <h1 style="font-size: 1em;" style="color: #FF6464" box-shadow="5px 10px;">INTRODUCTION</h1><br>


                        <p>Hi, I'm Marc! I'm a UX/UI designer interested in front-end web development - I hope to gain experience in working with teams and strengthen my communications skills. I look forward to collaborating!</p><br><br>

                       <div class="row">
<div class="col-6 involved">
<h1 style="font-size: 1em;" style="color: #FF6464">CURRENT PROJECTS</h1><br>
<div class="Arto"><h1 style="font-size: 1em;" >Arto Life Wtr</h1><p>This project focuses on the commercialization of purified water.</p>
<div class="row"><p class="col-6 people"><i class="fas fa-user"></i> 3</p>
<a class="col-5 View" style="color: #FF6464" href="***">View Project</a></div>
<div class="Arto"><h1 style="font-size: 1em;">Averus</h1><p>Averus is a mobile-app project to provide youth with practical advice on ways to approach design careers</p>
<div class="row"><p class="col-6 people"><i class="fas fa-user"></i> 2</p>
<a class="col-5 View"style="color: #FF6464" href="***">View Project</a></div></div>
</div></div>
<div class="col-6 Completed Projects">
<h1 style="font-size: 1em;" style="color: #FF6464">COMPLETED PROJECTS</h1><br>
<p style="font-size: 1em;" >Typo Region</p>
<p >typography, web, UX/UI</p>
</div>
</div>
                            <br> <br> <br>
{% endblock %}